.openingGridContainer{
    background: #8E8D8A;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5%;
    border-top: 5px double #E98074;
    padding:2%;
    border-bottom: 5px double #E98074;
}

.oGrid2 h2 {
    color: #EAE7DC;
    text-shadow: 10px 10px 8px;
    padding-bottom: 3em;
}
.oGrid2 p {
    color: #EAE7DC;
}
.oGrid2 {
    padding-bottom:2%;
}
@media(max-width:1000px) {
    .openingGridContainer {
        grid-template-columns: 1fr;
    }
    
}
@media(max-width:500px) {
    .oGrid1 {
        display:none;
    }
    
}